{% extends 'urunler/base.html' %}

{% block content %}
<div class="text-center mt-5">
    <h1>Hakkımızda</h1>
    <p class="lead">
        Ünlü Hindicilik olarak, taze ve doğal hindi ürünlerinin üretiminde uzmanlaşmış bir kuruluşa sahibiz. 
        Sağlıklı, lezzetli ve güvenilir ürünler sunmak için en yüksek kalite standartlarını her zaman ön planda tutuyoruz.
    </p>
    <p>
        Misyonumuz, müşterilerimize sağlıklı gıda seçenekleri sunmak ve her aşamada titizlikle çalışarak ürünlerimizin tazeliğini korumaktır. 
        Ünlü Hindicilik olarak, müşteri memnuniyetini ve kaliteyi her zaman ön planda tutarak sektördeki liderliğimizi sürdürüyoruz.
    </p>
</div>
{% endblock %}
